/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


.jumbotron{
	margin-top: 0;
	margin-bottom: 0;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #ffff00), color-stop(1, #ff9900));
	background: -webkit-linear-gradient(bottom left, #ffff00 0%, #ff9900 100%);
	background: -moz-linear-gradient(bottom left, #ffff00 0%, #ff9900 100%);
	background: -o-linear-gradient(bottom left, #ffff00 0%, #ff9900 100%);
	background: -ms-linear-gradient(bottom left, #ffff00 0%, #ff9900 100%);
	background: linear-gradient(to top right, #ffff00 0%, #ff9900 100%);
}

.navbar{
	margin-top: 0;
	margin-bottom: 0;
	background-color: black;
}

body{
background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #504b3f), color-stop(1, #ffffff));
background: -webkit-linear-gradient(bottom, #504b3f 0%, #ffffff 100%);
background: -moz-linear-gradient(bottom, #504b3f 0%, #ffffff 100%);
background: -o-linear-gradient(bottom, #504b3f 0%, #ffffff 100%);
background: -ms-linear-gradient(bottom, #504b3f 0%, #ffffff 100%);
background: linear-gradient(to top, #504b3f 0%, #ffffff 100%);
} 